@media only screen and (min-width: 992px){

    .nav-toggle {
        display: none;
    }

    .nav-search {
        position: relative;
        margin: 0 24px;
    }

    .nav-search-btn {
        position: absolute;
        width: 45px;
        height: 100%;
        top: 0;
        right: 10px;
        font-size: 18px;
        color: var(--white-color);
        background-color: var(--primary-color);
        border-radius: 0 5px 5px 0;
    }

    .fs-product-menu a {
        display: inline-block;
        font-size: .95rem;
        font-weight: var(--font-weight-medium);
        padding: 0 14px;
        height: 50px;
        text-align: center;
        line-height: 50px;
    }
}
